<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    <title>HDwood</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">HDwood</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <!-- <main class="main2">
                <div class="main-products">
                    <div id="div1">
                        <img class="main-image"   src="images/vrata.jpg" alt="main-img">
                    </div>
                    <div id="div2">
                        <img class="main-image"   src="images/plakar.jpg" alt="main-img">
                    </div>
                    <div id="div3">
                        <img class="main-image"   src="images/sto.jpg" alt="main-img">
                    </div>
                    <div id="div4">
                        <img class="main-image"   src="images/kuhinja.jpg" alt="main-img">
                    </div>
            </div>
            </main> -->
            <div class="grades">
                <a href="vrata.html"><div class="desktopGrades">
                    <img class="main-image"   src="images/vrata.jpg" alt="main-img">
                </div></a>
                <a href=""><div class="desktopGrades">
                    <img class="main-image"   src="images/plakar.jpg" alt="main-img">
                </div></a>
                <div class="desktopGrades">
                    <img class="main-image"   src="images/sto.jpg" alt="main-img">
                </div>
                <div class="desktopGrades">
                    <img class="main-image"   src="images/kuhinja.jpg" alt="main-img">
                </div>
              </div>
            <footer class="footer">
                All rights reserved.
            </footer>
        </div>
    </body>
</html>