<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    <title>HDwood</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">HDwood</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main class="main">
                <div class="content">
                    
                </div>
            </main>
            <footer class="footer">
                All rights reserved.
            </footer>
        </div>
    </body>
</html>